<div class="elisc_tm_topbar">
    <div class="topbar_inner">
        <div class="logo" data-type="image">
            <a class="image" href="#">
                <h2 title="{{ .Name }}">{{ .Name }}</h2>
            </a>
            <a class="text" href="#"> <span>{{ .Name }}</span></a>
        </div>
        <div class="trigger">
            <div class="hamburger hamburger--slider">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="elisc_tm_mobile_menu">
    <div class="inner">
        <div class="wrapper">
            <div class="avatar">
                <div class="image" data-img-url="/img/about/1.jpg"></div>
            </div>
            <div class="menu_list">
                <ul class="transition_link">
                    <li class="active">
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#skill">Skill</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#news">Blog</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="social">
                <ul>
                    <li>
                        <a href="#"><img class="svg" src="/img/svg/social/facebook.svg" alt="alt" /></a>
                    </li>
                    <li>
                        <a href="#"><img class="svg" src="/img/svg/social/twitter.svg" alt="alt" /></a>
                    </li>
                    <li>
                        <a href="#"><img class="svg" src="/img/svg/social/instagram.svg" alt="alt" /></a>
                    </li>
                    <li>
                        <a href="#"><img class="svg" src="/img/svg/social/dribbble.svg" alt="alt" /></a>
                    </li>
                    <li>
                        <a href="#"><img class="svg" src="/img/svg/social/tik-tok.svg" alt="alt" /></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2023</p>
            </div>
        </div>
    </div>
</div>
<div class="elisc_tm_sidebar">
    <div class="sidebar_inner">
        <div class="author">
            <div class="image">
                <img src="/img/thumbs/1-1.jpg" alt="alt" />
                <div class="main" data-img-url="img/about/1.jpg"></div>
            </div>
            <div class="name">
                <h3>
                    <span>{{ .Name }}<span class="back">{{ .Name }}</span></span>
                </h3>
            </div>
        </div>
        <div class="menu scrollable">
            <ul class="transition_link">
                <li class="active">
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#skill">Skill</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#news">Blog</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <div class="social">
                <ul>
                    <li>
                        <a href="#">
                            <i class="icon-facebook-1"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-twitter-1"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-linkedin-1"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text">
                <p>Copyright © 2023 {{ .Name }}. All rights reserved.</p>
                <small class="mt-2" style="font-size: 12px;">This content was contributed by an AI.</small>
            </div>
        </div>
    </div>
</div>